@charset "UTF-8";
/*INDEX / HEADING / BODY / FOOTER*/
/*FORMATEO DE ESTILO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
  transition: 0, 5s;
}

body {
  background-color: rosybrown;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  height: 500px;
  width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 700px) {
  header {
    margin-bottom: 0px;
  }
}
h1 {
  display: flex;
  justify-content: center;
  background: rgb(166, 61, 156);
  background: linear-gradient(140deg, rgb(166, 61, 156) 26%, rgba(92, 57, 85, 0.9920343137) 50%);
  padding: 5px;
  border-bottom: 5px ridge black;
  border-top: 5px ridge black;
}

body header .banner {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 60px;
}

@media (max-width: 700px) {
  body header .banner {
    display: flex;
    width: 100%;
    height: 300px;
  }
}
.navbar {
  background: rgb(166, 61, 156);
  background: linear-gradient(140deg, rgb(166, 61, 156) 26%, rgba(92, 57, 85, 0.9920343137) 50%);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar .nav-link:hover {
  background-color: rosybrown;
  border-bottom: 2px solid black;
  border-radius: 10%;
}
.navbar .nav-link:active {
  background-color: brown;
}

.pie-de-pagina {
  display: flex;
  background: rgb(166, 61, 156);
  background: linear-gradient(180deg, rgb(166, 61, 156) 26%, rgba(92, 57, 85, 0.9920343137) 69%);
  width: 100%;
  height: 150px;
  position: absolute;
  border-top: ridge black 5px;
  border-bottom: ridge black 5px;
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

body footer div ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

body footer div ul li img {
  display: flex;
  margin: 50px;
  height: 30px;
  width: 30px;
}

body footer div ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

body footer div ul li a:hover {
  background-color: rosybrown;
  border-bottom: 2px solid black;
  border-radius: 50%;
}

body footer div ul li a:active {
  background-color: brown;
}

body footer div ul li a p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  color: black;
}

body footer div .h6-footer {
  display: flex;
  justify-content: end;
  font-style: italic;
}

body main section .primer-seccion-pagina {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
body main section .primer-seccion-pagina .primer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main section .primer-seccion-pagina .c-logo-portada {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
body main section .primer-seccion-pagina .primer-seccion-pagina-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 5px ridge black;
  background-color: rgb(162, 120, 202);
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}
body main section .primer-seccion-pagina .imagen-presentacion {
  display: flex;
  height: 250px;
  border: 5px ridge black;
}
body main section .primer-seccion-pagina .primer-seccion-pagina-1__h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
body main section .primer-seccion-pagina .primer-seccion-pagina-1__p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.subtitulo {
  display: flex;
  border-top: black ridge 5px;
  border-bottom: black ridge 5px;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(162, 120, 202);
}

.video-inicio {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.video-inicio .video-principal {
  display: flex;
  justify-content: center;
  text-align: center;
  border: ridge 5px black;
}

.segunda-seccion-pagina-1 {
  display: flex;
  justify-content: center;
}
.segunda-seccion-pagina-1 .tabla-navegacion3 {
  display: flex;
  border: ridge 5px black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;
  width: 400px;
  background-color: rgb(162, 120, 202);
}

@media (max-width: 1047px) {
  .primer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .primer-seccion-pagina {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .primer-seccion-pagina-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
.seccion-t-c {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 50px;
}
.seccion-t-c .seccion-t-c__baño-de-crema-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 150px;
}
.seccion-t-c .baño-de-crema-img {
  display: flex;
  text-align: center;
  border: black ridge 5px;
  height: 250px;
  width: 250px;
  margin-left: 50px;
}
.seccion-t-c .seccion-t-c-baño-de-crema-container__2art {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: black 2px dashed;
  background-color: rgb(162, 120, 202);
  margin: 25px 25px 25px 25px;
  padding: 5px 5px 5px 5px;
}
.seccion-t-c .p-baño {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.seccion-t-c .seccion-t-c__shock-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 150px;
}
.seccion-t-c .shock-img {
  display: flex;
  text-align: center;
  border: black ridge 5px;
  height: 250px;
  width: 250px;
  margin-left: 50px;
}
.seccion-t-c .seccion-t-c-shock-container__2art {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: black 2px dashed;
  background-color: rgb(162, 120, 202);
  margin: 25px 25px 25px 25px;
  padding: 5px 5px 5px 5px;
}
.seccion-t-c .p-shock {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.seccion-t-c .seccion-t-c__alisado-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 150px;
}
.seccion-t-c .alisado-img {
  display: flex;
  text-align: center;
  border: black ridge 5px;
  height: 250px;
  width: 350px;
  margin-left: 50px;
}
.seccion-t-c .seccion-t-c-alisado-container__2art {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: black 2px dashed;
  background-color: rgb(162, 120, 202);
  margin: 25px 25px 25px 25px;
  padding: 5px 5px 5px 5px;
}
.seccion-t-c .p-alisado {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
@media (max-width: 1047px) {
  .seccion-t-c .seccion-t-c__baño-de-crema-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seccion-t-c .seccion-t-c__shock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seccion-t-c .seccion-t-c__alisado-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

body main .seccion-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
body main .seccion-color .container-p-color-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body main .seccion-color .container-p-colorh2 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(162, 120, 202);
  border-top: 5px black ridge;
  border-bottom: 5px black ridge;
  padding: 5px;
  margin-bottom: 15px;
}
body main .seccion-color .h2-color {
  display: flex;
  justify-content: center;
  text-align: center;
}
body main .seccion-color .container-p-color {
  display: flex;
  text-align: center;
  margin-bottom: 25px;
}
body main .seccion-color .container-imagen-color {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
body main .seccion-color .imagen-color {
  display: flex;
  border: 5px black ridge;
}
body main .seccion-color .articulos-caja {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(162, 120, 202);
  margin-bottom: 30px;
  border-top: 5px black ridge;
  border-bottom: 5px black ridge;
  padding: 10px;
}

.container-galeria-de-fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas {
  margin: 100px auto;
  width: 1000px;
  height: 450px;
  border: 5px ridge black;
  background: rgb(166, 61, 156);
  background: linear-gradient(180deg, rgb(166, 61, 156) 26%, rgba(92, 57, 85, 0.9920343137) 69%);
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px 200px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas img {
  width: 200px;
  height: 200px;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img1 {
  grid-column: 1/2;
  grid-row: 1;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img2 {
  grid-column: 2/3;
  grid-row: 1;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img3 {
  grid-column: 3/4;
  grid-row: 1;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img4 {
  grid-column: 4/5;
  grid-row: 1;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img5 {
  grid-column: 1/2;
  grid-row: 2;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img6 {
  grid-column: 2/3;
  grid-row: 2;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img7 {
  grid-column: 3/4;
  grid-row: 2;
}
.container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas .grilla-img8 {
  grid-column: 4/5;
  grid-row: 2;
}
.container-galeria-de-fotos .cont-flex-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  background-color: rgb(162, 120, 202);
  border-top: ridge 5px black;
  border-bottom: ridge 5px black;
  padding: 5px;
}
.container-galeria-de-fotos .cont-flex-color__h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container-galeria-de-fotos .cont-flex-color__h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container-galeria-de-fotos .cont-flex-color__a {
  display: flex;
  color: blue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
@media (max-width: 1047px) {
  .container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
  }
  .container-galeria-de-fotos .container-galeria-de-fotos__cont-grillas img {
    width: 300px;
    height: 300px;
  }
}

.carrousel-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

#carouselExampleControls {
  width: 40%;
  height: 500px;
}

@media (max-width: 1047px) {
  .carrousel-container {
    margin-bottom: 30px;
  }
}
.seccion-mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.mapa {
  display: flex;
  border: 5px ridge black;
  padding: 0, 5px;
}

.texto-seccion-mapa {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 25px;
}

.caja-h2-mapa {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.caja-h2-mapa .caja-h2-mapa .h2-mapa {
  display: flex;
  justify-content: center;
  font-size: x-large;
  width: 100%;
}

.caja-p-mapa {
  display: flex;
  padding: 15px;
  background-color: rgb(162, 120, 202);
  border: dashed 2px black;
}
.caja-p-mapa .p-mapa {
  display: flex;
  justify-content: center;
  text-align: center;
}

.caja-turnos-escribenos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.caja-turnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: ridge black 5px;
  border-bottom: ridge black 5px;
  background-color: rgb(162, 120, 202);
  padding: 15px;
}

.caja-turnos-escribenos .caja-escribenos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: ridge black 5px;
  border-bottom: ridge black 5px;
  background-color: rgb(162, 120, 202);
  padding: 15px;
}

.formulario {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.formulario .caja-form {
  display: flex;
  justify-content: center;
  text-align: start;
  border: ridge black 5px;
  background-color: rgb(162, 120, 202);
}
.formulario .formmulario-caja-form__form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.formulario .caja-form-form__div {
  margin-bottom: 15px;
}
.formulario #exampleText1 {
  width: 100%;
  height: 100px;
}

@media (max-width: 1047px) {
  .seccion-mapa {
    flex-direction: column;
  }
  .mapa {
    display: flex;
    border: none;
    padding: 0, 5px;
    justify-content: center;
  }
  .caja-h2-mapa .h2-mapa {
    display: flex;
    justify-content: center;
  }
  .caja-p-mapa {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
