body main section .primer-seccion-pagina{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .primer-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .c-logo-portada{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    .primer-seccion-pagina-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 5px ridge black;
        background-color: $fondo-purpura;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: 50px;
    }
    .imagen-presentacion{
        display: flex;
        height: 250px;
        border: 5px ridge black;
    }
    @media (max-width: 450px) {
        .imagen-presentacion{
        height: 150px;
        width: 250px;
    }
    }
    .primer-seccion-pagina-1__h2{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .primer-seccion-pagina-1__p{
        display: flex;
        text-align: center;
        justify-content: center;
    }
}


.subtitulo {
    display: flex;
    border-top: black ridge 5px;
    border-bottom: black ridge 5px;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color:  $fondo-purpura;
}
.video-inicio {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    .video-principal {
        display: flex;
        justify-content: center;
        text-align: center;
        border: ridge 5px black;
    }
}

.segunda-seccion-pagina-1{
    display: flex;
    justify-content: center;
    .tabla-navegacion3{
        display: flex;
        border: ridge 5px black;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 75px;
        width: 400px;
        background-color: $fondo-purpura;
    }
    @media (max-width: 450px) {
        .tabla-navegacion3{
        width: 250px;
    }
    }
}


@media (max-width:1047px){
    .primer-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .primer-seccion-pagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .primer-seccion-pagina-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
