.seccion-t-c {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
    .seccion-t-c__baño-de-crema-container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-bottom: 150px;
    }
    .baño-de-crema-img {
        display: flex;
        text-align: center;
        border: black ridge 5px;
        height: 250px;
        width: 250px;
        margin-left: 50px;
    }
    .seccion-t-c-baño-de-crema-container__2art {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: black 2px dashed;
        background-color: $fondo-purpura;
        margin: 25px 25px 25px 25px;
        padding: 5px 5px 5px 5px;
    }
    .p-baño {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }
    .seccion-t-c__shock-container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-bottom: 150px;
    }
    .shock-img {
        display: flex;
        text-align: center;
        border: black ridge 5px;
        height: 250px;
        width: 250px;
        margin-left: 50px;
    }
    .seccion-t-c-shock-container__2art {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: black 2px dashed;
        background-color: $fondo-purpura;
        margin: 25px 25px 25px 25px;
        padding: 5px 5px 5px 5px;
    }
    .p-shock {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }

    .seccion-t-c__alisado-container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        margin-bottom: 150px;
    }

    .alisado-img {
        display: flex;
        text-align: center;
        border: black ridge 5px;
        height: 250px;
        width: 350px;
        margin-left: 50px;
    }
    .seccion-t-c-alisado-container__2art {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: black 2px dashed;
        background-color: $fondo-purpura;
        margin: 25px 25px 25px 25px;
        padding: 5px 5px 5px 5px;
    }
    .p-alisado {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }

    @media (max-width:1047px) {
        .seccion-t-c__baño-de-crema-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .seccion-t-c__shock-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .seccion-t-c__alisado-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}










