
.seccion-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.mapa {
    display: flex;
    border: 5px ridge black;
    padding: 0,5px;
}

.texto-seccion-mapa{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 25px;
}

.caja-h2-mapa {
    display: flex;
    justify-content: center;
    padding: 15px;
    .caja-h2-mapa .h2-mapa {
        display: flex;
        justify-content: center;
        font-size: x-large;
        width: 100%;
    }
}

.caja-p-mapa {
    display: flex;
    padding: 15px;
    background-color: $fondo-purpura;
    border: dashed 2px black;
    .p-mapa {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}



.caja-turnos-escribenos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .caja-turnos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-top: ridge black 5px;
        border-bottom: ridge black 5px;
        background-color: $fondo-purpura;
        padding: 15px;
    }
    .caja-escribenos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        border-top: ridge black 5px;
        border-bottom: ridge black 5px;
        background-color: $fondo-purpura;
        padding: 15px;
    }
}



    .formmulario-caja-form__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 25px;
        .caja-form-form__div {
            margin-bottom: 15px;
        }
        #exampleInputText1 {
            height: 100px;
        }
    }



    @media (max-width:1047px) {
    .seccion-mapa {
        flex-direction: column;
    }
    .mapa {
        display: flex;
        border: none;
        padding: 0,5px;
        justify-content: center;
    }

        .caja-h2-mapa .h2-mapa {
            display: flex;
            justify-content: center;
    }
        .caja-p-mapa {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-right: 20px;
    }
}

@media (max-width: 548px){
    .formmulario-caja-form__form .form-control{
        display: flex;
        width: 75%;
        justify-content: center;
    }
    #submit-id{
        width: 75%;
    }
    #reset-id{
        width: 75%;
    }
}
